:root {
    --bs-blue: #377dff;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #ed4c78;
    --bs-orange: #fd7e14;
    --bs-yellow: #f5ca99;
    --bs-green: #198754;
    --bs-teal: #00c9a7;
    --bs-cyan: #09a5be;
    --bs-white: #fff;
    --bs-gray: #8c98a4;
    --bs-gray-dark: #71869d;
    --bs-gray-100: #f7faff;
    --bs-gray-200: #f8fafd;
    --bs-gray-300: #e7eaf3;
    --bs-gray-400: #bdc5d1;
    --bs-gray-500: #97a4af;
    --bs-gray-600: #8c98a4;
    --bs-gray-700: #677788;
    --bs-gray-800: #71869d;
    --bs-gray-900: #1e2022;
    --bs-primary: #377dff;
    --bs-secondary: #71869d;
    --bs-success: #00c9a7;
    --bs-info: #09a5be;
    --bs-warning: #f5ca99;
    --bs-danger: #ed4c78;
    --bs-light: #f7faff;
    --bs-dark: #21325b;
    --bs-primary-rgb: 55,125,255;
    --bs-secondary-rgb: 113,134,157;
    --bs-success-rgb: 0,201,167;
    --bs-info-rgb: 9,165,190;
    --bs-warning-rgb: 245,202,153;
    --bs-danger-rgb: 237,76,120;
    --bs-light-rgb: 247,250,255;
    --bs-dark-rgb: 33,50,91;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-rgb: 103,119,136;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: Inter,sans-serif;
    --bs-body-font-family-blog: Merriweather,serif;
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #6d7883;
    --bs-body-bg: #fff
}

*,::after,::before {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 600;
    line-height: 1.2;
    color: #1e2022
}

.h1,h1 {
    font-size: calc(1.375rem + 1.5vw)
}

@media (min-width: 1200px) {
    .h1,h1 {
        font-size:2.5rem
    }
}

.h2,h2 {
    font-size: calc(1.3rem + .6vw)
}

@media (min-width: 1200px) {
    .h2,h2 {
        font-size:1.75rem
    }
}

.h3,h3 {
    font-size: calc(1.25625rem + .075vw)
}

@media (min-width: 1200px) {
    .h3,h3 {
        font-size:1.3125rem
    }
}

.h4,h4 {
    font-size: 1.125rem
}

.h5,h5 {
    font-size: 1rem
}

.h6,h6 {
    font-size: .875rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

ol,ul {
    padding-left: 2rem
}

dl,ol,ul {
    margin-top: 0;
    margin-bottom: 1rem
}

.small,small {
    font-size: .875em
}

a {
    color: #377dff;
    text-decoration: none
}

img,svg {
    vertical-align: middle
}

label {
    display: inline-block
}

button {
    border-radius: 0
}


button,input,optgroup,select,textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button,select {
    text-transform: none
}

[type=button],[type=reset],[type=submit],button {
    -webkit-appearance: button
}

[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),button:not(:disabled) {
    cursor: pointer
}

textarea {
    resize: vertical
}

iframe {
    border: 0
}

.display-5 {
    font-size: calc(1.425rem + 2.1vw);
    font-weight: 600;
    line-height: 1.2
}

@media (min-width: 1200px) {
    .display-5 {
        font-size:3rem
    }
}

.img-fluid {
    max-width: 100%;
    height: auto
}

.container,.container-fluid,.container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 1400px) {
    .container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl {
        max-width:1140px
    }
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5)
}

.row>* {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y)
}

.g-3,.gx-3 {
    --bs-gutter-x: 1rem
}

.col-sm-6 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%
}

.col-sm-7 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.33333%
}

.col-lg-4 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333%
}

.col-lg-5 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.66667%
}

.col-lg-6 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%
}

.g-lg-7,.gx-lg-7 {
    --bs-gutter-x: 3rem
}

.form-label {
    margin-bottom: .5rem;
    font-size: .875rem;
    color: #1e2022
}


.form-text {
    margin-top: 1rem;
    font-size: .875em;
    color: #8c98a4
}

.form-control {
    display: block;
    width: 100%;
    padding: .6125rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1e2022;
    background-color: #fff;
    background-clip: padding-box;
    border: .0625rem solid rgba(33,50,91,.1);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .3125rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.form-control::-webkit-input-placeholder {
    color: #8c98a4;
    opacity: 1
}

.form-control::placeholder {
    color: #8c98a4;
    opacity: 1
}

.form-control-lg {
    min-height: calc(1.5em + 1.625rem);
    padding: .75rem 1rem;
    font-size: 1rem;
    border-radius: .3125rem
}

textarea.form-control {
    min-height: calc(1.5em + 1.35rem)
}   

textarea.form-control-lg {
    min-height: calc(1.5em + 1.625rem)
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #677788;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: .0625rem solid transparent;
    padding: .6125rem 1rem;
    font-size: 1rem;
    border-radius: .3125rem;
    transition: all .2s ease-in-out
}

.btn-primary {
    color: #fff;
    background-color: #377dff;
    border-color: #377dff
}

.btn-group-lg>.btn,.btn-lg {
    padding: .75rem 1rem;
    font-size: 1rem;
    border-radius: .3125rem
}

.collapse:not(.show) {
    display: none
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem
}

.navbar>.container,.navbar>.container-fluid,.navbar>.container-xxl {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: inherit;
    flex-wrap: inherit;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    white-space: nowrap
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center
}

.navbar-toggler {
    padding: .5rem .5rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: .0625rem solid transparent;
    border-radius: .3125rem;
    transition: box-shadow .15s ease-in-out
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        -ms-flex-wrap:nowrap;
        flex-wrap: nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .75rem;
        padding-left: .75rem
    }

    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }

    .navbar-expand-lg .navbar-toggler {
        display: none
    }


    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: .0625rem solid rgba(33,50,91,.1);
        border-radius: .5rem
    }

    
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 2rem 2rem
    }
    
    .card-title {
        margin-bottom: .25rem
    }
    
    .card-subtitle {
        margin-top: -.125rem;
        margin-bottom: 0
    }
    
    .card-text:last-child {
        margin-bottom: 0
    }

    .card-img,.card-img-bottom,.card-img-top {
        width: 100%
    }
    
    .card-img,.card-img-top {
        border-top-left-radius: .4375rem;
        border-top-right-radius: .4375rem
    }
    
    .card-img,.card-img-bottom {
        border-bottom-right-radius: .4375rem;
        border-bottom-left-radius: .4375rem
    }

    .visually-hidden,.visually-hidden-focusable:not(:focus):not(:focus-within) {
        position: absolute!important;
        width: 1px!important;
        height: 1px!important;
        padding: 0!important;
        margin: -1px!important;
        overflow: hidden!important;
        clip: rect(0,0,0,0)!important;
        white-space: nowrap!important;
        border: 0!important
    }

    
    .overflow-hidden {
        overflow: hidden!important
    }

    .d-grid {
        display: grid!important
    }

    .d-flex {
        display: -ms-flexbox!important;
        display: flex!important
    }
    
    .d-inline-flex {
        display: -ms-inline-flexbox!important;
        display: inline-flex!important
    }

    .position-relative {
        position: relative!important
    }

    .border-top {
        border-top: .0625rem solid rgba(33,50,91,.1)!important
    }

    .h-100 {
        height: 100%!important
    }

    .flex-grow-1 {
        -ms-flex-positive: 1!important;
        flex-grow: 1!important
    }

    .align-items-center {
        -ms-flex-align: center!important;
        align-items: center!important
    }

    .my-4 {
        margin-top: 1.5rem!important;
        margin-bottom: 1.5rem!important
    }

    .mb-0 {
        margin-bottom: 0!important
    }
    
    .mb-2 {
        margin-bottom: .5rem!important
    }
    
    .mb-3 {
        margin-bottom: 1rem!important
    }
    
    .mb-4 {
        margin-bottom: 1.5rem!important
    }
    
    .mb-5 {
        margin-bottom: 2rem!important
    }

    .mb-6 {
        margin-bottom: 2.5rem!important
    }
    
    .mb-7 {
        margin-bottom: 3rem!important
    }
    
    .mb-8 {
        margin-bottom: 3.5rem!important
    }
    
    .mb-9 {
        margin-bottom: 4rem!important
    }
    
    .mb-10 {
        margin-bottom: 4.5rem!important
    }

    .ms-1 {
        margin-left: .25rem!important
    }
    
    .ms-2 {
        margin-left: .5rem!important
    }

    
    .py-6 {
        padding-top: 2.5rem!important;
        padding-bottom: 2.5rem!important
    }

    .text-center {
        text-align: center!important
    }

    .text-dark {
        --bs-text-opacity: 1;
        color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity))!important
    }

    .text-white {
        --bs-text-opacity: 1;
        color: rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important
    }
    
    .text-body {
        --bs-text-opacity: 1;
        color: rgba(var(--bs-body-rgb),var(--bs-text-opacity))!important
    }

    .text-white-70 {
        --bs-text-opacity: 1;
        color: rgba(255,255,255,.7)!important
    }

    .bg-dark {
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important
    }

    

    .bg-white {
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-white-rgb),var(--bs-bg-opacity))!important
    }

    .rounded-2 {
        border-radius: .5rem!important
    }

    .content-space-t-2 {
        padding-top: 5rem!important
    }
    
    .content-space-t-3 {
        padding-top: 7.5rem!important
    }

    .content-space-b-1 {
        padding-bottom: 3rem!important
    }
    
    .content-space-b-2 {
        padding-bottom: 5rem!important
    }

    .content-space-1 {
        padding-top: 3rem!important;
        padding-bottom: 3rem!important
    }
    
    .content-space-2 {
        padding-top: 5rem!important;
        padding-bottom: 5rem!important
    }

    .zi-2 {
        z-index: 2!important
    }

    .align-items-sm-center {
        -ms-flex-align: center!important;
        align-items: center!important
    }

    .my-sm-8 {
        margin-top: 3.5rem!important;
        margin-bottom: 3.5rem!important
    }

    .mb-sm-0 {
        margin-bottom: 0!important
    }

    .w-md-75 {
        width: 75%!important
    }

    .mx-md-auto {
        margin-right: auto!important;
        margin-left: auto!important
    }

    .w-lg-50 {
        width: 50%!important
    }

    .w-lg-75 {
        width: 75%!important
    }

    .w-lg-65 {
        width: 65%!important
    }

    .justify-content-lg-between {
        -ms-flex-pack: justify!important;
        justify-content: space-between!important
    }


    .mb-lg-0 {
        margin-bottom: 0!important
    }

    .mt-lg-n10 {
        margin-top: -4.5rem!important
    }

    .content-space-t-lg-3 {
        padding-top: 7.5rem!important
    }

    .brand {
        width: 100%;
        max-width: 7.5rem
    }

    .btn-transition {
        transition: all .2s ease-in-out
    }

    .card {
        border-width: 0;
        box-shadow: 0 .375rem 1.5rem 0 rgba(140,152,164,.125)
    }

    .card-subtitle {
        display: block;
        text-transform: uppercase;
        font-size: .8125rem;
        margin-bottom: .25rem
    }
    
    .card-title {
        margin-bottom: 0
    }
    
    .card-title:not(:last-child) {
        margin-bottom: .5rem
    }

    .card-link {
        font-weight: 600;
        white-space: nowrap
    }

    .card-sm>.card-body,.card-sm>.collapse .card-body {
        padding: 1.25rem 1.25rem
    }

    .card-info-link {
        display: inline-block;
        text-align: center;
        border-width: .0625rem;
        box-shadow: none;
        border-radius: 50rem
    }
    
    .card-info-link .card-body {
        padding: .8125rem 1.25rem
    }

    .card-flush {
        box-shadow: none
    }
    
    .card-flush .card-body,.card-flush .card-footer,.card-flush .card-header,.card-flush .collapse .card-body {
        padding-right: 0;
        padding-left: 0
    }

    .form-label-secondary {
        font-size: .875rem;
        color: #8c98a4
    }

    .icon {
        display: -ms-inline-flexbox;
        display: inline-flex;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 1rem;
        width: 3.125rem;
        height: 3.125rem;
        border-radius: .3125rem
    }
    
    .icon-circle {
        border-radius: 50%
    }

    .icon-soft-light {
        color: #f7faff;
        background: rgba(247,250,255,.1)
    }

    .navbar {
        display: block;
        z-index: 99
    }
    
    .navbar-collapse {
        -ms-flex-align: start;
        align-items: flex-start
    }
    
    .navbar-nav {
        -ms-flex-positive: 1;
        flex-grow: 1
    }

    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0
    }
    
    .navbar-brand-logo {
        width: 100%;
        min-width: 10rem;
        max-width: 10rem
    }

    .navbar-nav-wrap {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -ms-flex-align: center;
        align-items: center
    }
    
    .navbar-nav-wrap .navbar-toggler {
        margin-left: auto
    }

    .navbar-toggler {
        padding: .5rem .5rem
    }

    .navbar .navbar-nav .nav-link {
        padding: 1rem .75rem
    }

    .navbar-absolute-top {
        position: absolute;
        top: 0;
        left: 0;
        right: 0
    }

    @media (min-width: 992px) {
        .navbar-expand-lg .navbar-toggler {
            -ms-flex-order:1;
            order: 1
        }


    .navbar-expand-lg .navbar-collapse {
        width: auto;
        -ms-flex-order: 2;
        order: 2
    }

    .navbar-expand-lg:not(.navbar-vertical) .navbar-nav {
        -ms-flex-align: center;
        align-items: center
    }

    .navbar-expand-lg .nav-item:not(:last-child) {
        margin-right: .5rem
    }

    .navbar-expand-lg.navbar-end .navbar-nav {
        -ms-flex-pack: end;
        justify-content: flex-end;
        margin-left: auto
    }

    .navbar[data-hs-header-options*=fixMoment] {
        transition: .3s ease
    }

    .text-dark {
        color: #1e2022!important
    }
    
    .lectura {
        font-family: 'Lora', serif;
        font-size: 1.2rem;
        color: #292929;
        line-height: 140%;
    }
    
    .lectura h1,h2,h3,h4,h5,h6 {
        margin-top: 0;
        margin-bottom: 1rem;
        font-weight: 600;
        line-height: 1.5;
        color: #1e2022
    }
    
    .lectura h2 {
        font-size: 1.75rem;
    }
    
    @media (min-width: 1200px) {
        .lectura h2 {
            font-size:1.75rem
        }
    }
    
    .lectura h3 {
        font-size: calc(1.25625rem + .075vw)
    }
    
    @media (min-width: 1200px) {
        .lectura h3 {
            font-size:1.3125rem
        }
    }
    
    .lectura h4 {
        font-size: 1.125rem
    }
    
    .lectura h5 {
        font-size: 1rem
    }
    
    .lectura h6 {
        font-size: .875rem
    }
    
    .lectura p {
        margin-top: 0;
        margin-bottom: 2rem
    }
    
    .whatsapp {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 30px;
        right: 40px;
        background-color: #25d366;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        font-size: 37px;
        z-index: 100;
    }
    
    .whatsapp-icon {
        margin-top: 13px;
    }
    
    .mx-lg-auto {
        margin-right: auto!important;
        margin-left: auto!important
    }
